<%= month_calendar events: @infos do |date, infos| %>
  <%= date.day %>
  <% infos.each do |info| %>
    <div>
      <%= link_to info_path(info), data: {"turbolinks" => false} do %>
       <p><%= info.body %></p>
      <% end %>
    </div>
  <% end %>
<% end %>