<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <% if current_user.id == @user.id %>
          <h2><%= current_user.team.teamname %></h2>
        <% else %>
          <h2><%= @user.team.teamname %></h2>
        <% end %>
       </div>
    </div>
  </div>
</div>
