<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2><%= @team.teamname %></h2>
        <div class="row member">
          <h4>選手一覧</h4>
        </div>
        <div class="row">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>名前 </th>
                <th>ポジション </th>
                <th>投打 </th>
                <th>打率</th>
              </tr>
            </thead>
            <tbody>
              <% @team_users.each do |user| %>
                <tr>
                  <tb><%= user.name %></tb>
                  <tb><%= user.position %></tb>
                  <tb><%= user.throw %></tb>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
       </div>
    </div>
  </div>
</div>
