<div class="container mt-5 flame">
  <div class="row">
    <h1>What About Enjoy_Baseball!?</h1>
  </div>
  <div class="about">
    <p class="about-text">
      Enjoy_Baseballは野球の記録を管理できるサイトです。<br>
      選手や監督、子供のいる親御さんにも使っていただけます。<br>
      個人の成績やチームの試合結果を記録し共有する事で、<br>
      コミュニケーションツールとしても利用できます。
    </p>
    <div class="about-main">
      <div class="about-card">
        <p class="card-head">
          チームを選択 or チームの作成
        </p>
        <div class="setp1"></div>
      </div>
      <div class="about-card">
        <p class="card-head">
          個人成績の追加・確認
        </p>
        <div class="setp2"></div>
      </div>
      <div class="about-card">
        <p class="card-head">
          各項目のランキング表示
        </p>
        <div class="setp3"></div>
      </div>
      <div class="about-card">
        <p class="card-head">
          イベントの作成日程確認
        </p>
        <div class="setp2"></div>
      </div>
      <div class="about-card">
        <p class="card-head">
          試合結果の確認・メンバー情報
        </p>
        <div class="setp2"></div>
      </div>
      <div class="about-card">
        <p class="card-head">
          コメント・写真の共有
        </p>
        <div class="setp2"></div>
      </div>
    </div>
  </div>
</div>