<div class="mt-5 flame">
  <div class="">
    <h1 class="about-header">What About EnjoyBaseball!?</h1>
  </div>
  <div class="about">
    <p class="about-text">
      Enjoy_Baseballは野球の記録を管理できるサイトです。
      選手や監督、子供のいる親御さんにも使っていただけます<i class="fas fa-baseball-ball text-ball"></i><br>
      個人の成績やチームの試合結果を記録し共有する事で
      コミュニケーションツールとしても利用できます<i class="fas fa-baseball-ball text-ball"></i>
    </p>
    <div class="about-main">
      <div class="about-card">
        <p class="card-head">
          チームを選択 or チームの作成
        </p>
        <div class="step1">
          <div class="uni"></div>
          <div class="uniform"></div>
        </div>
      </div>
      <div class="about-card">
        <p class="card-head">
          個人成績の追加・確認
        </p>
        <div class="step2">
          <div class="score"></div>
          <div class="gulaf"></div>
        </div>
      </div>
      <div class="about-card">
        <p class="card-head">
          各項目のランキング表示
        </p>
        <div class="step3">
          <div class="ranking"></div>
        </div>
      </div>
      <div class="about-card">
        <p class="card-head">
          イベントの作成日程確認
        </p>
        <div class="step4">
          <div class="event"></div>
          <div class=""></div>
        </div>
      </div>
      <div class="about-card">
        <p class="card-head">
          試合結果の確認・メンバー情報
        </p>
        <div class="step5">
          <div class="enpitu"></div>
        </div>
      </div>
      <div class="about-card">
        <p class="card-head">
          コメント・写真の共有
        </p>
        <div class="step6">
          <div class="picture"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
