/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
// @import "infos";
// @import "homes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.flame {
  padding: 80px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid yellow;
  border-radius: 10%;
  background-color: #fff;
}

.home-btn {
  margin: 20px;
}

// 新規登録・ログイン
.login-button {
  display: flex;
  text-align: center;
  margin-top: 30px;
}

.devise-form {
  background-color: #ffffcc;
  height: 600px;
  width: 60%;
  margin: 0 auto;
  border-radius: 20%;
}

.sign-up {
  font-size: 80px;
  margin-bottom: 0;
}

body {
  background-image: image-url("yakyujo.jpg");
  background-size: cover;
  background-position: center;
}

.sub-sign-up {
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
}

.login-field {
  padding: 20px auto;
  margin-top: 30px;
}

.sign {
  padding: 20px 15px 20px 25px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid #FFD700;
  border-radius: 15%;
}

.login {
  height: 300px;
  width: 300px;
  margin-top: 40px;
  padding: 20px 0 20px 60px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid #FFD700;
  border-radius: 20%;
}

.actions {
  margin-top:15px;
}

.sign_up-link {
  font-size: 20px;
  padding-top: 40px;
}

// ヘッダー
header {
  width: 100%;
  height: 70px;
  background-color: maroon;
}

.header-logo {
  height: 70px;
  width: 110px;
  margin: 0 auto;
  background-image: image-url("logo.jpg");
  background-size: cover;
  background-position: center;
}

.new-team {
  margin: 50px 0;
}

// カレンダー
.simple-calendar {
 .wday-0 {
    color: red;
 }

 .wday-6 {
    color: blue;
 }

 .calendar-head {
   background-color: #F0E68C;
   text-align: center;
 }

 .calendar-title {
   font-size: 20px;
   font-weight: bold;
 }

 .has-events {
   background: #FFF8DC;
 }
}


.days {
  margin-bottom: 30px;
}

.game-result {
  margin-top: 50px;
}

.comment-form {
  margin: 0 auto;
  display: inline-block;
}

// .post-comment {
//   margin: 15px auto;
//   display: inline-block;
//   padding: 15px;
// }

.nowrap {
  white-space: nowrap;
}

.flash {
  color: #00DD00;
  font-size: 15px;
}


#map {
  width: 470px;
  height: 300px;
}

#edit_map {
  width: 470px;
  height: 300px;
}

#show_map {
  width: 470px;
  height: 300px;
  border: 2px solid red;
  margin-top: 15px;
}

// フッター
footer{
  width: 100%;
  height: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #DDDDDD;
}

// 上に戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow{
  width:      50px;
  height:     50px;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition   : 0.5s all;
  transition        : 0.5s all;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : white;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}
.hamburger span:nth-child(4) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  opacity: 0;
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #FFD700;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

nav.globalMenuSp.active {
  transform: translateY(0%);
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  #homes-index {
    background-image: image-url("yakyujo.jpg");
    // background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .flame {
    padding: 80px;
    border-top: 3px solid red;
    border-left: 3px solid green;
    border-bottom: 3px solid blue;
    border-right: 3px solid yellow;
    border-radius: 0%;
    background-color: #fff;
  }
  // トップページ
  #homes-index {
    width: 100%;
    background-image: image-url("yakyujo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .home {
    width: 100%;
    margin-top: 50%;
    margin-bottom: 30%;
  }

  .logo {
    height: 0;
    /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 65%;
    background-image: image-url("logo.jpg");
    background-size: cover;
    background-position: center;
  }

  .home-main {
    width: 80%;
  }

// アバウトページ
  .about-header {
    text-align: center;
    width: 100%;
    background-color: #FFFFCC;
    height: 20px;
    font-style: oblique;
    font-family: Times New Roman;
    font-size: 1.3rem;
    white-space: nowrap;
  }

  .about {
    margin-top: 10px;
    margin-left: -32%;
    width: 165%;
    background-color: #EEEEEE;
    border-radius: 10%;
    text-align: left;
    font-size: 0.8rem;
    height: 0%;
  }

  // ログインページ
  .devise-form {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 4%;
  }

  // チーム選択画面
  .new-team-form {
    background-color: #ffffcc;
    height: 630px;
    width: 110%;
    border-radius: 3%;
  }

  .team-select {
    padding: 60px 40px;
    margin-top: 20px;
    border-top: 3px solid red;
    border-left: 3px solid green;
    border-bottom: 3px solid blue;
    border-right: 3px solid #FFD700;
    border-radius: 15%;
  }

  // チーム詳細画面
  #teams-show header, footer {
    width: 130%;
  }

  #teams-show .flame {
    padding: 80px;
    width: 130%;
    border-top: 3px solid red;
    border-left: 3px solid green;
    border-bottom: 3px solid blue;
    border-right: 3px solid yellow;
    border-radius: 0%;
    background-color: #fff;
  }

  .team-game-index {
    height: 100%;
    width: 130%;
    overflow-y: scroll;
    margin-left: -14%;
  }

  .team-member-table {
    margin-top: 10px;
    height: 100%;
    width: 130%;
    margin-left: -14%;
  }

  .team-event-new {
    margin-bottom: 30px;
  }

  .icon-form {
    display: flex;
    justify-content: center;
  }

  #team_records-index {
    font-size: 8px;
  }

  .simple_calendar {
    font-size: 3rem;
    margin-left: 0%;
  }

  .team-calendar {
    height: 100%;
    width: 100%;
  }

  // 試合結果詳細画面
  #team_records-show .container, #team_records-show header, #team_records-show footer {
    width: 135%;
  }

  #team_records-show .wrapper {
    min-height: 135vh;
  }

  .game-score-show {
    white-space: nowrap;
  }

  .user-rival_score input {
    margin-left: 0%;
  }

  .team-game-result select {
    margin-left: 10%;
  }

  .team-game-homerun textarea {
    margin-left: 7%;
  }

  .fa-image {
    font-size: 30px;
  }

  .fa-paper-plane {
    display: inline-block;
    padding: 0;
    font-size: 30px;
  }

  .sub-btn {
    height: 50px;
  }

  .post-player {
    margin: 20px 20px 20px 0;
    padding: 0;
  }

  .nowrap {
    white-space: nowrap;
    font-size: 12px;
  }

}
