/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map{
  height: 400px;
}

header {
  width: 100%;
  height: 70px;
  background-color: maroon;
}

.header-logo {
  height: 70px;
  width: 110px;
  margin: 0 auto;
  background-image: image-url("logo.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  margin-top: 20px;
  margin-bottom: 40px;
}

.new-team {
  margin: 50px 0;
}


.login-button {
  margin: 30px 0 30px 0;
}

.logo {
  height: 300px;
  margin-top: 50px;
  background-image: image-url("logo.jpg");
  background-size: cover;
  background-position: center;
}

.user-record {
  margin: 30px;
}

.profile {
  display: flex;
  // display: inline-block;
}

.background {
  background-image: image-url("ball.jpg");
  background-size: cover;
  background-position: center;
}

.record-select {
  margin: 0 80px 0 80px;
}

.record_link {
  margin-left: 80px;
}

.simple-calendar {
 .wday-0 {
    color: red;
 }

 .wday-6 {
    color: blue;
 }

 .calendar-head {
   background-color: #F0E68C;
   text-align: center;
 }

 .calendar-title {
   font-size: 20px;
   font-weight: bold;
 }

 .has-events {
   background: #FFF8DC;
 }
}

.profile-image {
  border: 1px solid #656565;  /* 枠線(=円形でも記述は同じ) */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  display: inline-block;
  margin-bottom: 10px;
}

.record-top {
  margin-top: 50px;
}

.event {
  margin-bottom: 30px;
}

.member {
  margin-top: 40px;
}

.days {
  margin-bottom: 30px;
}

.game-result {
  margin-top: 50px;
}

.comment-form {
  display: inline-block;
}

.fa-image {
  font-size: 60px;
}

.fa-paper-plane {
  display: inline-block;
  padding: 0;
  font-size: 40px;
}

.post-comment {
  margin: 15px auto;
  display: inline-block;
  padding: 15px;
}

.nowrap {
  white-space: nowrap;
}

.flash {
  color: #00DD00;
  font-size: 15px;
}

// 上に戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow{
  width:      50px;
  height:     50px;
}



/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition   : 0.5s all;
  transition        : 0.5s all;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : white;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}
.hamburger span:nth-child(4) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  opacity: 0;
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #FFD700;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

nav.globalMenuSp.active {
  transform: translateY(0%);
}
