// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homes-index {
  background-image: image-url("yakyujo.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 300px;
  margin-top: 50px;
  background-image: image-url("logo.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  text-align: center;
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 10%;
}

.about-header {
  width: 100%;
  height: 50px;
  margin: auto 0;
  background-color: maroon;
}

.about-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.about-card {
  height: 200px;
  width: 300px;
  margin: 10px auto;
  background-color: #FFFFBB;
  border-radius: 20%;
}

.card-head {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.step1 {
  background-image: image-url("team_select2.jpg");
  background-size: cover;
  height: 95%;
  width: 80%;
  margin: 0 auto ;
  border-radius: 10%;
}

.uni {
  background-image: image-url("uni.jpg");
  background-size: cover;
  height: 50%;
  width: 40%;
}

.uniform {
  background-image: image-url("uniform.jpg");
  background-size: cover;
  height: 40%;
  margin: 0 0 0 auto;
  width: 30%;
}

.step2 {
  background-image: image-url("record.jpg");
  background-size: cover;
  height: 80%;
  width: 80%;
  margin: 0 auto ;
}

.step3 {
  background-image: image-url("batter.jpg");
  background-size: cover;
  height: 80%;
  width: 80%;
  margin: 0 auto ;
}

.step4 {
  background-image: image-url("nittei.jpg");
  // background-image: image-url("event.jpg");
  background-size: cover;
  height: 80%;
  width: 80%;
  margin: 0 auto ;
}

.step5 {
  background-image: image-url("player.jpg");
  background-size: cover;
  height: 80%;
  width: 80%;
  margin: 0 auto ;
}

.step6 {
  background-image: image-url("comment.jpg");
  background-size: cover;
  height: 80%;
  width: 80%;
  margin: 0 auto ;
}

