// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#teams-room .flame {
  padding: 80px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid yellow;
  border-radius: 10%;
  background-color: #fff;
  width: 80%;
}

.post-player {
  width: 100%;
  padding: 20px 30px 20px 30px;
}

.fa-image {
  font-size: 60px;
}

.fa-paper-plane {
  display: inline-block;
  padding: 0;
  font-size: 40px;
}

.word {
  // table-layout: fixed;
  word-wrap: break-word;
}

.post_comments {
  width: 480px;
}

.team-post-comment {
  margin-left: 8%;
}
