// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#records-pitch_index {
  background-color: #FFEEFF;
}

#records-batter_index {
  background-color: #FFFFCC;
}

.pitch_logo {
  height: 110px;
  width: 110px;
  margin: 0 auto;
  // background-image: image-url("104719.jpg");
  // background-size: cover;
  // background-position: center;
}

.batter_logo {
  height: 110px;
  width: 110px;
  margin: 0 auto;
  // background-image: image-url("174539.jpg");
  // background-size: cover;
  // background-position: center;
}

.record-top {
  margin-top: 50px;
}

.record-select {
  margin: 0 80px 0 80px;
}

.record_link {
  margin-left: 80px;
}
table {
  word-wrap: break-word;
}
