// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-profile {
  width: 45%;
  margin: 0 auto;
  display: flex;
  white-space: nowrap;
}

.team-show-teamname {
  margin-top: 20%;
  margin-left: 11%;
  font-size: 30px;
}

#teams-new, #teams-create {
  background-image: image-url("yakyujo.jpg");
  background-size: cover;
  background-position: center;
}

.new-team-form {
  background-color: #ffffbb;
  height: 630px;
  width: 65%;
  margin-left: 20%;
  border-radius: 15%;
}

.new-team-head {
  margin-top: 30px;
  text-align: center;
}

.team-select {
  padding: 60px 110px 60px 110px;
  margin-top: 20px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid #FFD700;
  border-radius: 15%;
}

.team-city input {
  margin-left: 15px;
  width: 90px;
}

.new-team {
  margin: 0 auto;
}

.team-actions {
  margin-top: 30px;
  padding: 0 0 0 40px;
}

.team-event {
  width: 100%;
  text-align: right;
}

.share-link {
  margin-top: 30px;
}

.team-calendar {
  width: 100%;
}

.team-game-index {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-base-color: #99ff66;
  scrollbar-arrow-color: #ff0000;
}

.team-event-new {
  margin-bottom: 30px;
}

.team-game-new {
  margin-bottom: 30px;
}

.team-member-table {
  width: 100%;
}

#teams-edit .flame, #teams-update .flame {
  padding: 80px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid yellow;
  border-radius: 10%;
  background-color: #fff;
  width: 60%;
}

#teams-room .flame {
  padding: 80px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid yellow;
  border-radius: 10%;
  background-color: #fff;
  width: 80%;
}

.post-player {
  padding: 20px 30px 20px 30px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 14px;
  width: 440px;
}

.fa-image {
  font-size: 10px;
  width: 55%;
  margin-right: -8%;
}

.post-phote {
  width: 10%;
}

.fa-paper-plane {
  display: inline-block;
  padding: 0;
  font-size: 27px;
}

.word {
  // table-layout: fixed;
  word-wrap: break-word;
}

.post_comments {
  width: 480px;
  height: 500px;
}

.team-post-comment {
  margin-left: 8%;
  background-color: #EEFFFF;
}

.comment-form {
  width: 111%;
  background-color: #fff;
  padding-bottom: 2%;
}

.comment-form textarea {
  width: 79%;
}

.submit-icon {
  margin-top: -13%;
  margin-left: 9%;
  width: 11%;
  height: 40px;
}
