// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-profile {
  width: 400px;
  margin: 0 auto;
}

// #teams-show {
//   background-color: #fff;
//   background-image:
//     radial-gradient(#99FFFF 30%, transparent 30%);
//   background-size: 20px 20px;
// }

#teams-new, #teams-create {
  background-image: image-url("yakyujo.jpg");
  background-size: cover;
  background-position: center;
}

.new-team-form {
  background-color: #ffffbb;
  height: 630px;
  width: 65%;
  margin-left: 20%;
  border-radius: 15%;
}

.new-team-head {
  margin-top: 30px;
  text-align: center;
}

.team-select {
  padding: 60px 110px 60px 110px;
  margin-top: 20px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid #FFD700;
  border-radius: 15%;
}

.team-city input {
  margin-left: 15px;
  width: 90px;
}

.new-team {
  margin: 0 auto;
}

.team-actions {
  margin-top: 30px;
  padding: 0 0 0 40px;
}

.team-event {
  width: 100%;
  text-align: right;
}

.share-link {
  margin-top: 30px;
}

.team-calendar {
  width: 100%;
}

.team-game-index {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-base-color: #99ff66;
  scrollbar-arrow-color: #ff0000;
}

.team-event-new {
  margin-bottom: 30px;
}

.team-game-new {
  margin-bottom: 30px;
}

.team-member-table {
  width: 100%;
}

#teams-edit .flame, #teams-update .flame {
  padding: 80px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid yellow;
  border-radius: 10%;
  background-color: #fff;
  width: 60%;
}

#posts-index .flame {
  padding: 80px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid yellow;
  border-radius: 10%;
  background-color: #fff;
  width: 75%;
}
