// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-name {
  font-size: 40px;
  margin-left: 50px;
}

.user-show-profile {
  width: 200px;
  white-space: nowrap;
  margin-left: 25%;
}

.profile-font {
  font-size: 22px;
  margin-bottom: 15px;
}

.profile-image {
  border: 1px solid #656565;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-bottom: 10px;
}

.user-record-pitch {
  margin: 0;
}

.user-record-batter {
  margin-top: 0;
}

.profile {
  display: flex;
}

.record-success {
  margin-top: 20px;
  margin-bottom: 20px;
}

.record-list {
  width: 104%;
  margin-left: -2%;
}

.user-record-title {
  margin-left: 20px;
}

#users-edit .flame {
  padding: 80px;
  border-top: 3px solid red;
  border-left: 3px solid green;
  border-bottom: 3px solid blue;
  border-right: 3px solid yellow;
  border-radius: 10%;
  background-color: #fff;
  width: 60%;
}
